body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"),
   url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  }

@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"),
  url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: medium;
}

